header {
    background-color: $background-color;
    text-align: center;


    h1 {
        color: $color;
        font-size: $dimensioni * 4;
        padding: $dimensioni * 2 0;
        text-transform: uppercase;
    }

}
